/*CSS RESET*/
* {
margin:0;
padding:0;
}

body {
background-color: #faf9fa;
}

main {
display: flex;
align-content: center;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
}

h1 {
font-family: blackest-text, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 60px;
color: #38393a;
}

h2 {
font-family: elza, sans-serif;
font-weight: 500;
font-style: normal;
font-size: 20px;
color: #38393a;
}

.top-text {
border: none;
margin: 0.5em;
display: flex;
flex-direction: column;
align-items: center;
}

.game-board {
display: grid;
grid-template-columns: repeat(3, 1fr);
border: 1px solid #38393a;
margin: 0px auto;
background-color: #faf9fa;
margin-bottom: 2em;
}

.cell:hover {
background-color: rgb(221, 253, 228); 
}

.cell {
/*STYLING X'S AND O'S*/    
font-family: blackest-text, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 100px;
color: #38393a;
/*STYLING INDIVUAL CELLS*/
min-height: 170px;
min-width: 170px;
border: 1px solid #38393a;
display: flex;
align-content: center;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
}

/*CONTAINER DIV FOR CURRENT PLAYER*/  
#display-box{
display: flex;
}

/*DIV FOR CURRENT PLAYER MARKER DISPLAY*/  
#game-display{
font-family: blackest-text, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 30px;
color: #38393a;
margin-left: 2px;
}


.restart{
font-family: elza, sans-serif;
font-weight: 500;
font-style: normal;
height: 3.5em;
width: 12em;
border-radius: 30px;
border: 1px solid #38393a;
background-color: #faf9fa;
padding: 1px;
}

.restart:hover{
background-color: rgb(221, 253, 228);
}

span {
    font-family: blackest-text, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 100px;
    color: #38393a;
    }

p {
    font-family: blackest-text, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: #38393a;
}

#win-message {
font-family: blackest-text, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 100px;
color: #38393a;
position: absolute;
backdrop-filter: blur(10px);
}

.hidden {
display: none;
}


/* FOOTER */

footer {
    width: 500px;
    align-self: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 15px;
    display: flex;
    margin: 5px;
    font-family: elza, sans-serif;
    font-weight: 500;
    font-style: normal;
    color:  #172A3A;


  }
  
  .fa-github {
    color:  #172A3A;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
  
    transform: rotate(360deg) scale(1.2);
  }